.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  width: 50vw;
  background-color: #eaeaea;
}

.button {
  padding: 0.25rem;
}

.dataContainer {
  width: 30rem;
  height: 18rem;
  border: 1px solid #0cd6b8;
  border-radius: 16px;
  margin-top: 1rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.smallText {
  font-size: x-large;
}

.giantText {
  font-size: 5rem;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
